# PostgreSQL
POSTGRES_DB=analytics
POSTGRES_USER=analyst
POSTGRES_PASSWORD=change_me_secure_password_here

# Metabase (опционально)
MB_DB_TYPE=postgres
MB_DB_DBNAME=analytics
MB_DB_USER=analyst
MB_DB_PASS=change_me_secure_password_here
MB_DB_HOST=postgres

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@analytics.com
PGADMIN_DEFAULT_PASSWORD=change_me_secure_password_here

# Ports
POSTGRES_PORT=5435
METABASE_PORT=3033
PGADMIN_PORT=5051
